<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>V-Code Homepage</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren,</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<div id="scroll-point">
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">We've got what you need!</h2>
          <hr class="light">
          <p class="text-faded">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <a href="#" class="btn btn-default btn-xl">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">At your service</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
            <h3>Easy to use</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
            <h3>Fast success</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h3>Track your progress</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
            <h3>Enjoy eating</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box">
            <%= image_tag 'portfolio/1.jpg', class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box">
            <%= image_tag 'portfolio/2.jpg', class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box">
            <%= image_tag 'portfolio/3.jpg', class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box">
            <%= image_tag 'portfolio/4.jpg', class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box">
            <%= image_tag 'portfolio/5.jpg', class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box">
            <%= image_tag 'portfolio/6.jpg', class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <h2>Free for 2 Weeks</h2>
        <a href="#" class="btn btn-default btn-xl wow tada">Sign Up Now!</a>
      </div>
    </div>
  </aside>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Let's Start</h2>
          <hr class="primary">
          <p>Ready for your healthier life. If you want to enjoy the beauty of a nice nutrition Sign Up now and enjoy all
          our meals which tast delicious and help you lose weight!</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
          <i class="fa fa-phone fa-3x wow bounceIn"></i>
          <p>123-456-6789</p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p><a href="mailto:your-email@your-domain.com">feedback@v-code.com</a></p>
        </div>
      </div>
    </div>
  </section>
</div>